{%extends 'base.html' %}

{%block title%}Approval{%endblock%}

{%block content%}

     {%if users %}
     <form method = "post" action = "/approval"><h1>Pending User</h1>
            <fieldset>
            <table style ="width:100%" border ="1">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {%for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    {%for accept in form.accept%}
                    <td>{{accept.label}}</td>
                     <td>{{ accept }}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
            
            </fieldset>
            <!-- submit buttn goes here -->
            <div>
                 {{form.submit}}
            </div>
            <div>
                <p><a href="{{url_for('views.home')}}">Return to home page</a></p>
            </div>
     </form>
     {%else%}
            <h1>There are no users to be approved</h1>
     {%endif%}
{%endblock%}