{%extends 'base.html' %}

{%block title%}Approval{%endblock%}

{%block content%}

     {%if users %}
     <form method = "post" action = "/approval"><h1>Pending User</h1>
            <fieldset style='padding-top: 50px;'>
            <table style ="text-align: center; width:100%" border ="1">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {%for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><input type = 'radio' name ="{{user.first_name}}" value = "accept">Accept
                        <input type = 'radio' name ="{{user.first_name}}" value = "reject">Reject
                        <input type = 'radio' name ="{{user.first_name}}" value = "defer" checked="checked">Defer
                    </td>

                    {%endfor%}
                </tr>
            </table>
            
            </fieldset>
            <!-- submit buttn goes here -->
            <div style='text-align: right; padding-top: 25px;'>
                 {{form.submit}}
            </div>
            <div>
                <p><a href="{{url_for('views.home')}}">Return to home page</a></p>
            </div>
     </form>
     {%else%}
            <h1>There are no users to be approved</h1>
     {%endif%}
{%endblock%}