{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div>
                <h2>{{questionnaire.name}}</h2>
            </div>
        
            <div class = "form-group">
                <!--for all sections-->
                {% for l in lsec %}
                <!--Multiple questions list of dictionaires-->
                    <h3>{{l['section_id']}}. &nbsp; {{l['section_title']}}</h3>
                    {%for lquestions in l['questions']%}
                        <div class = 'questions' style="padding-left: 250px;font-weight: bold;">
                            {{l['section_id']}}.{{lquestions['question_id']}}. &nbsp;
                            {{lquestions['question_title']}}
                        </div>
                    <div style="padding-left: 250px;">
                        <div class = 'rating' style="padding-left: 250px;">
                            Rating: {{lquestions['rating']}}
                        </div>
                        <ul class="dp" style="border-style: solid; list-style: inside; width: 600px; border-width: thin;padding-left: 5px;" border = "1">
                            {%for d in lquestions['dotpoints']%}
                            <div style="margin: 5px;">
                                <li>{{d['dotpoint_name']}}</li>
                                </div>
                            {%endfor%}
                        </ul>
                        <div style="width: 600px;border-style: solid;" border = '1'>
                        <div class = 'comments' style="width: 600px;margin: 5px;">
                            Comments: {{lquestions['comments']}}
                        </div>
                        <div class = 'evidence' style="width: 600px;margin: 5px;">
                            Evidence: {{lquestions['evidence']}}
                        </div>
                        <div class = 'actions' style="width: 600px;margin: 5px;"> 
                            Actions: {{lquestions['action']}}
                        </div>
                        </div>
                    </div>

                    {% endfor %}
                {% endfor %}
            </div>   
        </fieldset>
        
    </form>
</div>
<body>
    <button id="test" style="position:fixed;right:100px;bottom:50px;cursor: pointer;padding: 15px;border-radius: 4px;">TOP</button>
    
    <script>
    　　test.onclick = function(){
    　　　　document.body.scrollTop = document.documentElement.scrollTop = 0;
    　　}
    </script>
    </body>  
{% endblock %}
</div>
