{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div>
                <h2>{{questionnaire.name}}</h2>
            </div>
        
            <div class = "form-group">
                <!--for all sections-->
                {% for l in lsec %}
                <!--Multiple questions list of dictionaires-->
                <h3>{{l['section_id']}}. &nbsp; {{l['section_title']}}</h3>

                <h1></h1>
                 {%for lquestions in l['questions']%}
                 <!--{{lquestions['question_id']}}
                 {{lquestions['question_title']}}-->

                 {{l['section_id']}}.{{lquestions['question_id']}}. &nbsp;
                 {{lquestions['question_title']}}                 

                 {%for d in lquestions['dotpoints']%}
                    {{d['dotpoint_id']}}
                    {{d['dotpoint_name']}}
                    
                    <div>
                    {{ form.choices.label(class="form-control-label") }}
                {% if form.choices.errors %}
                    {{ form.choices(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.choices.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                
                <div>
                {% else %}
                   {% for choices in form.choices %}

                    {{ choices.label}}
                    {{ choices}}

                      
                {% endfor %} 
                {% endif %}
                </div>
                <div>
                    {{ form.comments.label(class="form-control-label") }}
                    {% if form.comments.errors %}
                        {{ form.comments(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comments.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comments(class="form-control form-control-lg") }}
                    {% endif %}  
                </div>
                <div>
                    {%if current_user.is_manager == True%}
                        {{ form.evidence.label(class="form-control-label") }}
                        {% if form.evidence.errors %}
                            {{ form.evidence(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.evidence.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.evidence(class="form-control form-control-lg") }}
                        {% endif %}
                    {%endif%}
                </div>
                <div>
                    {%if current_user.is_manager==True%}
                        {{ form.actions.label(class="form-control-label") }}
                        {% if form.actions.errors %}
                            {{ form.actions(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.actions.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.actions(class="form-control form-control-lg") }}
                        {% endif %}
    
                    {%endif%}
                </div>
                 

                <!--Single Questions-->

                {% endfor %}
                {% endfor %}
                {%endfor%}
                
                
                

            </div>
            
            
            
            
        </fieldset>-->
        <input type='submit' name='Submit' value='Submit' />
    </form>
</div>
{% endblock %}
</div>















