{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div>
                <h2>{{questionnaire.name}}</h2>
            </div>
{%for sec in sections%}
            <div class="form-group">
                <h3>{{sec.id}}. {{sec.title}}</h3>
    {%for q in sec.questions%}
                <div>
                    <span>
                        {{sec.id}}.{{q.id}}.&nbsp;
                        {{q.title}}
                    </span>
                    <input type='radio' name='q{{sec.id}}.{{q.id}}' value='1' />
                    <input type='radio' name='q{{sec.id}}.{{q.id}}' value='2' />
                    <input type='radio' name='q{{sec.id}}.{{q.id}}' value='3' />
                    <input type='radio' name='q{{sec.id}}.{{q.id}}' value='4' />
                    <input type='radio' name='q{{sec.id}}.{{q.id}}' value='5' />
                    <input type='text' name='comment{{sec.id}}.{{q.id}}' />
                </div>
                <ul>
        {%for dp in dotpoints%}
                    <li>{{dp.title}}</li>
        {% endfor %}
                </ul>
    {% endfor %}
            </div>
{% endfor %}
        </fieldset>
        <input type='submit' name='Submit' value='Submit' />
    </form>
</div>
{% endblock %}
</div>















