{%extends 'base.html'%}

{%block title%}Delete User{%endblock%}
{%block content%}
<form action = "{{url_for('views.delete_user', id=user.id)}}" method = "post">
    <fieldset>
        <legend>Delete User</legend>
        <p>Are you sure you want to delete {{user.name}}?</p>
            {{form.delete.label}}
             {{form.delete}}
        <div>
            <button type = "submit">Yes</button>
            <a href="{{url_for('views.user_table')}}">No</a>
        <p><a href="{{url_for('views.home')}}">Return to home page</a></p>
        <div>
            {{form.submit}}
        </div>
    </fieldset>

{%endblock%}




