{%extends 'base.html'%}

{%block title%}Delete User{% endblock %}
{%block content%}
<form action = "{{url_for('views.delete_user', id=user.id)}}" method = "POST">
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
    <fieldset>  
        <p>Are you sure you want to delete {{user.first_name}} {{user.last_name}}?</p>
        <div>
                 <p>{{form.delete.label}}{{form.delete}}</p> 
        </div>
         <p><a type = "submit">{{form.submit}}</a></p>

    </fieldset>        
</form>
       <div>   
         
          <p><a href="{{url_for('views.home')}}">Return to home page</a></p>
        </div>    
{%endblock%}




