{% extends "base.html" %}

<title> {% block title %}Home{% endblock %}</title>
{% block content %} 
<br>
&nbsp;
{%if not user%}
<h1>Welcome to the Supervisor Appraisal App</h1>
<h2>A user-friendly appraisal experience</h2>

<p><a href="{{ url_for('auth.login') }}">Login</a></p>
{%else%}
<h1>Welcome {{current_user.name}} to the {{school.school_name}} Appraisal App</h1>
<h2>A user-friendly appraisal experience</h2>
<!--link to register page-->
    
{%endif%}
<!--<div style="font-size: 60px; text-align: center; margin-top: 8%; font-weight: 400; color: #fff">
    <div>Welcome {{current_user.name}} to the Supervisor</div>
    <div>Appraisal App</div>
</div>
<div style="text-align: center; margin-top: 50px;font-size: 25px; color:#fff">
    This application provides a digital and intuitive experience to the BTAU Boarding Supervisor matrix.
</div>-->
<div class="border-top pt-3">
<footer role="footer">
    <p>Contact Us</p>
     <footer><a href="mailto:hello@BetterBoardingToolkit.com">Hello@BetterBoardingToolkit.com</a></footer>
       <footer><a href="mailto:support@BetterBoardingToolkit.com">Support@BetterBoardingToolkit.com</a></footer>
       <footer>Phone: +61 4 888 888 888</footer>
        <footer>Address: Better Boarding Toolkit, 61 King Street, Adelaide, SA, 5000</footer>
     </footer>
    </div>
{% endblock %} 
</div>
