{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
{% block content %}
<div>
    <h2> Managed Reviews </h2>
</div>
{% for employee in Employees %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        {{ employee.name }}
        <ul class = 'reviews'>
          {%if employee['reviews']%}
          {%for r in employee['reviews']%}
            <li>
              <a href="{{url_for('views.appraisal_form')}}?user={{employee.id}}&date={{r}}">
                Appraisal {{r}}
              </a>
            </li>
          {%endfor%}
          {%else%}
          <li>
            
              You have not completed any reviews for {{employee.name}} yet
            
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </article>
{% endfor %}
{% endblock%}
</div>
