{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
{% block content %}
<div style="padding-top: 50px;">
    <h2> Managed Reviews </h2>
</div>
{% for employee in Employees %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <div style="font-weight: bold;text-align: center;">
       {{ employee.name }}
       </div>
        <ul class = 'reviews' style="text-align: center;">
          {%if employee['reviews']%}
          {%for r in employee['reviews']%}
            <li>
              <a href="{{url_for('views.appraisal_form')}}?user={{employee.id}}&date={{r}}">
                Appraisal {{r}}
              </a>
            </li>
          {%endfor%}
          {%else%}
          <li>
            
              <a>{{employee.name}} has no reviews for you to look through yet</a>
            
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </article>
{% endfor %}
{% endblock%}
</div>
