{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="raredog">
<title> {% block title %} My Reviews {% endblock %}</title>

{% block content %} 
<div>
  <h2> My Reviews </h2>
</div>
<br>
{% for r in rd %}
        <article class="media content-section">
          <img width="10" height="10"class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
          <div class="media-body">
            <a class="article-title" href="{{ url_for('views.user_appraisal_display') }}?date={{r.date_posted}}">Appraisal {{ r.date_posted.strftime('%Y-%m-%d') }}</a>
            <p class="article-content"> <ul>
              <li>{{r.date_posted}}</li>
            </ul>
    
            </p>
          </div>
        </article>
    {% endfor %}
{% endblock %} 
</div>
