{%extends 'base.html'%}
{%block title%}User Table{%endblock%}
{%block content%}

{%if users%}
<form method = "POST" action = "{{url_for('views.user_table')}}">
<body> 
    <h2> Users List</h2>
    <table style ="width:100%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Provide manager access</th>
            <th>Provide Admin access</th>
            <th>Remove</th>
            <th>Edit</th>
            <th>Assign a Manager</th>
        </tr>
        {% for user in users %}
        {%if user.is_manager == False %}
        </tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td><input type="checkbox" id="{{user.email}}" name="{{user.email}}" value="manager"><br></td>
            <td><input type="checkbox" id="{{user.email}}" name="{{user.email}}" value="superuser"><br></td>
            <td><a href="{{ url_for('views.edit_user', id=user.id) }}">Remove</a></td>
            <td><a href="{{url_for('views.delete_user', id = user.id)}}">Edit</a></td>
            <td><a >{{managerform.manager_id}}</a></td>
        </tr>
        {%elif user.is_manager == True%}
        </tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{form.is_manager}}</td>
            <td> {{form.is_superuser}}</td>
            <td><a href="{{ url_for('views.edit_user', id=user.id) }}">Remove</a></td>
            <td><a href="{{url_for('views.delete_user', id = user.id)}}">Edit</a></td>
        </tr>
        {%endif%}
     

        
        {% endfor %}
    </table>
   
</body>
</div>
{{form.submit}}


</form>
{%else%}
<h1> There are no users</h1>


{%endif%}
{%endblock%}