{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div>
                <h2>{{questionnaire.name}}</h2>
            </div>
        
            <div class = "form-group">
                <!--for all sections-->
                {% for l in lsec %}
                <!--Multiple questions list of dictionaires-->
                    <h3>{{l['section_id']}}. &nbsp; {{l['section_title']}}</h3>
                    {%for lquestions in l['questions']%}
                        <div class = 'questions'>
                            {{l['section_id']}}.{{lquestions['question_id']}}. &nbsp;
                            {{lquestions['question_title']}}
                            
                            <ul class="dp">
                                {%for d in lquestions['dotpoints']%}
                                    <li>{{d['dotpoint_name']}}</li>
                                {%endfor%}
                            </ul>
                            <div>
                              <div class = 'rating'>
                                rating = {{lquestions['rating']}}
                            </div>  
                            <div class = 'comments'>
                                comments = {{lquestions['comments']}}
                            </div>
                            {%if lquestions['evidence']%}
                                <h3>Manager Input</h3>
                                <div class = 'evidence'>
                                    Evidence = {{lquestions['evidence']}}
                                </div>
                            {%endif%}
                            {%if lquestions['actions']%}
                                <div class = 'actions'>
                                    Actions = {{lquestions['actions']}}
                                </div>
                            {%endif%}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>   
        </fieldset>
        <input type='submit' name='Submit' value='Submit' />
    </form>
</div>
{% endblock %}
</div>
